# Django
Django==5.0.2

# For image handling
Pillow==10.2.0

# Email support
django-sendgrid-v5==1.2.2

# Database
psycopg2-binary==2.9.9

# Environment variables
python-dotenv==1.0.1

# For deployment
gunicorn==21.2.0
whitenoise==6.6.0

# Security
django-cors-headers==4.3.1

# Static file compression
django-compressor==4.4
